<html lang = "en">
    <head>
    <title>Profile</title>    
    </head>

<div class="container p-5 my-5 bg-light text-dark">
    <h1>Volunteer Profile</h1>
    
    <p>
        <strong>Primary Email:</strong>
        <%= @user.email %>
    </p>
</div>