<!DOCTYPE html>
<html lang = "en">
  
  <head>
    <title>Volunteer Home</title>
      <link rel="stylesheet" type="text/css" href="custom.css">
  </head>
<body>


<center class = "container p-5">
    <%= image_tag "vc.png", alt: "Homepage logo with two smiling faces" =%>

</center>

<div class="container p-5 my-5 bg-light text-dark">
  
  <h1 class="text-center">Welcome to Volunteer Connect</h1>
  <div class="text-center">
      
        <%= link_to 'Organizations', events_path, class:"btn btn-primary" %>
      

        <%= link_to 'Events', events_path, class:"btn btn-secondary" %>
 
  </div>

  
</div>
<div class="container" style="min-height:100vh">
    </div>
  
</body>
</html>