<!DOCTYPE html>
<html lang = "en">
  
  <head>
    <title>Volunteer Home</title>  
  </head>
<body>


<center class = "container p-5">
    <%= image_tag "vc.png", alt: "Homepage logo with two smiling faces" =%>

</center>

<div class="container p-5 my-5 bg-light text-dark">
  
  <h1 class="text-center">Welcome to Volunteer Connect</h1>
  <div class="text-center">
      
      <button type="button" class="btn btn-primary">
          <td class = "nav-item"><%= link_to 'Organizations', organizations_url %></td>
      </button>
      
      <button type="button" class="btn btn-primary">
          <td class = "nav-item"><%= link_to 'Events', events_url %></td>
      </button>
  </div>

  
</div>
<div class="container" style="min-height:100vh">
    </div>
  
</body>
</html>