<!DOCTYPE html>
<html lang = "en">
  
  <head>
    <title>Volunteer Home</title>
    <meta charset = "utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    
  </head>
<body>

<center class = "container p-5">
  <img src = "https://lh3.googleusercontent.com/DHgH5C9YJ3iftKnL0mEWYr2qx3IU-nOlR4r304bdMxNMU1jlRZco3QdcuTznjBAlFhGRi-HyvD03fF5FAhBIOafzHEkAAPpVhMG46EyIBdGl-QMajlaROUmQI4s6hkXRKclUKWBkTi2otQQvovBoHbsiCZmcSQC5OvfqJ_9PqKLFkIbuM7d0x-ahM5SBiooxl5ao8XXtNhy8s9r4O3pa9Ob1BSlSNT_daWJv8Iz9VG_T_oh9Yfa62FTQduO9NENwYFa7tHRX_kStOqMUVW8X-1FFhho4h7XIL4b_3DrREUuCNO7VjCeJgnC2MxtePn0vPXJAxB78IxS2fF9Gi-ldMpCoR_paXTQyMR0-Bb5E6zsXRid6tAxS2XA_SOFNDOiKIr9HJI7ClSbkcYKbyy1cFKIDrONKilpjlRz_WTOBshTdX7qZzMsDDu-9LP-FN-saKLcqoXNfl3I9IyrwXATYEyKvy26vtgJJDCh0kxGGe6riwVvw3lD31XqvKIVmtuCN436KyTcxLuQknsg95k8-_Zc9FmadySUR21cjeaHejTArMNrS46eQY3ehG5V3Cq3hhO0egpS-ejdLR-7kMe4a2pMVYd9XAW1J13Pt_AJA3IUg537BXSitCewxxo6lHSNDHoHEdYsXUrdYx6Kl54stk78TVVdA8dfbSIUw3RaHoqrgLBi-rtvqxRUiMxOC2kR5ARQpkPWSlWiiRUtCfbsF7QrX=w258-h174-no?authuser=0" class = "aligncenter" alt = "Homepage Logo">

</center>

<div class="container p-5 my-5 bg-light text-dark">
  
  <h1 class="text-center">Welcome to Volunteer Connect</h1>
  <div class="text-center">
      
      <button type="button" class="btn btn-primary">
          <td class = "nav-item"><%= link_to 'Organizations', organizations_url %></td>
      </button>
      
      <button type="button" class="btn btn-primary">
          <td class = "nav-item"><%= link_to 'Events', events_url %></td>
      </button>
  </div>

  
</div>
<div class="container" style="min-height:100vh">
    </div>
  
</body>
</html>