.btn-primary {
    color: #fff;
    background-color: #1d96fc;
    border-color: #1d96fc
}

.btn-primary:hover {
    color: #fff;
    filter: brightness(0.9);
    background-color: #1d96fc;
    border-color: #1d96fc
}

.btn-secondary {
    color: #fff;
    background-color: #ff0054;
    border-color: #ff0054

}

.btn-secondary:hover {
    
    color: #fff;
    filter: brightness(0.9);
    background-color: #ff0054;
    border-color: #ff0054
    
}

table {
    table-layout : fixed;
}
