.btn-primary {
    color: #fff;
    text-decoration-color: #FFFFFF;
    background-color: #1d96fc;
    border-color: #1d96fc
}

.btn-secondary {
    color: #fff;
    background-color: #f45291;
    border-color: #f45291

}